/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* Styles and Variables*/
    

:root {
    --body-color: rgb(239, 236, 255);
    --sidebar-color: rgb(249, 248, 255);
    --primary-color: rgb(106, 126, 255);
    --primary-color-light:rgb(246, 244, 255);
    --toggle-color: rgb(209, 205, 229);
    --text-color: rgb(83, 81, 96);

    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}
    



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: var(--body-color);
    height: 100dvh;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 16px;
    background-color: var(--sidebar-color);

}

#title-bar {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
}

#title-bar .image-text i {
    font-size: 40px;
    text-align: center;
    padding: 10px;
    color: var(--body-color);
    background-color: var(--primary-color);
    border-radius: 6px;
}

#title-bar .title-text {
    font-size: 32px;
    color: var(--text-color);
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-bar .toggle {
    position: absolute;
    top:50%;
    right: -23px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 32px;
}


#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(8px, 1.5vw, 32px);
    padding-bottom: clamp(8px, 1.5vw, 32px);
    margin-top: 20px;
}


.menu-list > *, .project-list > *{
    width: 100%;
    margin-top: 10px;
}

.menu-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
}

.project-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.add-task, .list-wrapper {
    height: 36px;
}


.list-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    cursor: pointer;
}

.add-task, .add-project {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    gap: clamp(8px, 1.5vw, 32px);
    padding: clamp(8px, 1.5vw, 32px);
    cursor: pointer;
}
.list-wrapper i {
    font-size: 24px;
}

.list-item {
    font-size: 16px;
    font-weight: 500;
    margin-right: auto;
    margin-left: 12px;
}


.dark-mode-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    background-color: red;
    width: 100%;
    margin-top: calc(100% - 100px);
    cursor: pointer;
}

.dark-mode-wrapper i {
    color: aliceblue;
}

#dark-mode-text {
    font-size: 24px;
    font-weight: 500;
    margin-right: auto;
    margin-left: 12px;
}

#toggle-wrapper {
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 12px;
    background-color: blue;
}

#toggle-switch {
    position: absolute;
    top: 20%;
    left: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: orange;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: clamp(32px, 5vw, 150px);
    gap: clamp(8px, 1.5vw, 32px);
}

.content-bubble {
    border: 1px solid black;
    min-width: 75dvw;
    min-height: 40dvh;

}

.project-title {
    padding: clamp(8px, 1.5vw, 32px);
}


#sticky-bar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    gap: clamp(8px, 1.5vw, 32px);
    
}


.sticky-button {
    margin: 2vh 0;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    padding: clamp(8px, 1.5vw, 32px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.to-do-bubble {
    border: 1px solid black;
    padding: clamp(8px, 1.5vw, 32px);
    margin: clamp(8px, 1.5vw, 32px);

}

.item-wrapper {
    padding: clamp(8px, 1.5vw, 32px);
}


#to-do-dialog[open] {
    position: relative;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    gap: clamp(8px, 1.5vw, 32px);
    padding: clamp(8px, 1.5vw, 32px);

}

.dialog-wrapper {
    display: flex;
    justify-content: space-between;
    gap: clamp(8px, 1.5vw, 32px);
    width: 100%;
}

#priority-wrapper {
    display: flex;
    justify-content: left;
    gap: 5vw;
    width: 100%;
    align-items: center;
}

#close-button, #add-button, #priority-box {
    border: 2px solid black;
}

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 50%;
    padding: clamp(4px, 1vw, 24px);

}

#add-button {
    padding: 4px 8px;
    cursor: pointer;
    
}

#priority-box {
    padding: clamp(8px, 2vw, 16px);
    cursor: pointer;
}

#details-label {
    margin-right: auto;
    margin-top: 4vh;
}
textarea {
    height: 80px;
    width: 200px
}

@media (min-width: 1000px) {
    #to-do-dialog[open] {
        min-width: 400px;
        min-height: 400px;
    }
}