/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* Styles and Variables*/
    

:root {
    --body-color: rgb(239, 236, 255);
    --sidebar-color: rgb(249, 248, 255);
    --primary-color: rgb(106, 126, 255);
    --primary-color-light:rgb(246, 244, 255);
    --toggle-color: rgb(209, 205, 229);
    --text-color: rgb(102, 99, 117);

    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}
    
body.dark {
    --body-color: rgb(38, 38, 43);
    --sidebar-color: rgb(82, 81, 85);
    --primary-color: rgb(77, 90, 180);
    --primary-color-light:rgb(142, 141, 148);
    --toggle-color: rgb(209, 205, 229);
    --text-color: rgb(244, 242, 252);

}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: var(--body-color);
    height: 100dvh;
}

[class*="text"] {
    color: var(--text-color);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 250px;
    padding: 16px;
    background-color: var(--sidebar-color);
    transition: var(--trans-02);
    overflow-y: scroll;

}

.sidebar.close {
    width: 5px;
    padding: 16px;
    transition: var(--trans-02);
}

.sidebar .hide {
    overflow: visible;
    transition: all 0.4s ease-in-out 0.2s;
    opacity: 1;

}
.sidebar.close .hide {
    overflow: visible;
    transition: all 50ms;
    opacity: 0;

}

.sidebar.close .title-text {
    min-width: 85px;
}
.sidebar.close #title-bar .image-text i {
    transition: var(--trans-02);
}

.sidebar.close #add-task, 
.sidebar.close #add-project {
    opacity: 0;
    background-color: var(--sidebar-color);
    transition: all 50ms
}

.sidebar #add-task, 
.sidebar #add-project {
    transition: all 0.4s ease-in-out 0.2s;
    opacity: 1;
}


#title-bar {
    height: 64px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
}

#title-bar .image-text i {
    font-size: 40px;
    text-align: center;
    padding: 10px;
    color: rgb(239, 236, 255);
    background-color: var(--primary-color);
    border-radius: 6px;
    transition: var(--trans-03);
}

#title-bar .title-text {
    font-size: 32px;
    color: var(--text-color);
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar.close #title-bar .toggle {
    position: fixed;
    top:10%;
    left: 20px;
    transform: translateY(-50%) translateX(0);
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(239, 236, 255);
    font-size: 32px;
    cursor: pointer;
    transition: var(--trans-02);
}

.sidebar #title-bar .toggle {
    position: fixed;
    top:10%;
    left:20px;
    transform: translateY(-50%) translateX(246px);
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(239, 236, 255);
    font-size: 32px;
    cursor: pointer;
    transition: var(--trans-02);
}


#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(8px, 1.5vw, 32px);
    padding-bottom: clamp(8px, 1.5vw, 32px);
    margin-top: 40px;
}

#first-nav {
    flex-shrink: 1;
    position: relative;
    padding-top: 10px;
}

.menu-list > *, .project-list > *{
    width: 100%;
    margin-bottom: 10px;
}

.menu-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
}

.project-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.add-task, .list-wrapper, .my-projects {
    height: 36px;
    color: var(--text-color);
}

.add-task, .my-projects {
    font-size: 20px;
}
.add-task, .add-project {
    color: var(--text-color);
}

.my-projects {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.list-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    transition: var(--trans-03);
    color: var(--text-color);
    cursor: pointer;
}

i {
    color: var(--text-color);
}

.list-wrapper:hover {
    background-color: var(--primary-color);
    color: rgb(239, 236, 255);
}

.list-wrapper:hover i.icon{
    color: rgb(239, 236, 255);
}
i.icon {
    font-size: 24px;
    padding-left: 12px;
}
.tally {
    padding-right: 12px;
}
#add-task, #add-project {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 8px;
    gap: clamp(8px, 1.5vw, 32px);
    transition: var(--trans-03);
}

#add-task *, #add-project * {
    color: rgb(239, 236, 255);
    margin: 0;
    
}

.list-item {
    font-size: 16px;
    font-weight: 500;
    margin-right: auto;
    margin-left: 12px;
    transition: var(--trans-03);
}


.dark-mode-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 20% 0;
    cursor: pointer;
}

.sun-moon {
    height: 50px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bx-sun{
    opacity: 0;
}

body.dark .bx-sun {
    opacity: 1;
}

body.dark .bx-moon {
    opacity: 0;
}

.dark-mode-wrapper i {
    position: absolute;
    font-size: 24px;
}



.sun-moon-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    margin-right: 30px;
    margin-left: 12px;
}

.toggle-wrapper {
    position: relative;
    height: 100%;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#dark-toggle {
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

#dark-toggle:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--sidebar-color);
    transition: var(--trans-03);
}

body.dark #dark-toggle:before {
    left: 20px
}

#container {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: clamp(32px, 5vw, 150px);
    gap: clamp(8px, 1.5vw, 32px);
}

.content-bubble {
    border: 1px solid black;
    min-width: 75dvw;
    min-height: 40dvh;

}

.project-title {
    padding: clamp(8px, 1.5vw, 32px);
}


#sticky-bar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    gap: clamp(8px, 1.5vw, 32px);
    opacity: 1;
    transition: var(--trans-02);
}

#container.close #sticky-bar {
    pointer-events: none;
    opacity: 0;
    transition: var(--trans-02);
}


.sticky-button {
    margin: 2vh 0;
    background-color: var(--primary-color);
    border: 1px solid rgb(239, 236, 255);
    border-radius: 8px;
    gap: clamp(8px, 1.5vw, 32px);
    transition: var(--trans-03);
    color: rgb(239, 236, 255);
    text-align: center;
    padding: clamp(8px, 1.5vw, 32px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.to-do-bubble {
    border: 1px solid black;
    padding: clamp(8px, 1.5vw, 32px);
    margin: clamp(8px, 1.5vw, 32px);

}

.item-wrapper {
    padding: clamp(8px, 1.5vw, 32px);
}


#to-do-dialog[open] {
    position: relative;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: clamp(8px, 1.5vw, 32px);
    padding: clamp(8px, 1.5vw, 32px);

}

.dialog-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(8px, 1.5vw, 32px);
    width: 100%;
}

#to-do-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(16px, 2vw, 32px);
    width: 100%;
    flex-direction: column;
}

#priority-wrapper {
    display: flex;
    justify-content: center;
    gap: 5vw;
    width: 100%;
    align-items: center;
}

#add-button, #priority-box {
    border: 2px solid black;
}

#close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    padding: clamp(4px, 1vw, 24px);

}

#text-close-button, #add-button

#add-button {
    padding: 4px 8px;
    cursor: pointer;
    
}

#priority-box {
    padding: clamp(8px, 2vw, 16px);
    cursor: pointer;
}

input, textarea, select, option {
    margin-bottom: .5rem;
    padding: .5rem;
    width: 100%
}
textarea {
    padding: 0.5rem;
    margin-top: 8px;
    height: 80px;
    width: 200px
}

@media (min-width: 1000px) {
    #to-do-dialog[open] {
        min-width: 400px;
        min-height: 400px;
    }
}